/* Default Stylesheet */
body{
  font-family:'Roboto',sans serif;
  background:#222;
  font-weight:100;
}
.box1
{
top:25%;
margin-left:8%;
}
.box2
{
top:25%;
right:8%;
}
.box3
{
top:60%;  
margin-left:8%;
}
.box4
{
top:60%;
right:8%;
}
.box
{
color:whitesmoke;
font-family:'Roboto', Sans serif; 
font-size:15px;
height:10%;
background-color:gray;
position:absolute;
padding:2.5%;
width:30%;
}
.box:hover
{
background-color:#c0c0c0;
transition:0.7s;
}
.footer
{
  background-color:#000;
  margin:0px;
  margin-top:100%;
  width:100%;
  padding-top:1%;
  padding-bottom:1%;
  color:white;
  position:fixed;
  bottom:0px;
  right:0px;
  left:0px;
  font-size:15px; 
  letter-spacing:0.4px;
  word-spacing:2px;
  text-align:center;
}
a{
  color:white;
  text-decoration:none;
  margin:10px;
  transition:0.7s;
  margin-bottom:20px;
}
.navbar{
  background-color:#C0C0C0;
  margin:0px;
  padding:2.5%;
  position:fixed;
  top:0px;
  left:0px;
  position:fixed;
  width:100%;
  right:0px;
  
}
a:hover{
  opacity:0.25;
}
img{
  width:5%;
  height:5%;
  float:left;
  
  
}
