/* Default Stylesheet */
/* Order yer CSS chronologically nub :3 */
body
{
  font-family:'Roboto', sans-serif;
  background:#222;
  font-weight:100;
}



a
{
  color:white;
  text-decoration:none;
  margin:10px;
  transition:.7s;
  margin-bottom:20px;
}


a:hover
{
  opacity:0.25;
}

img
{
  /*width:5%;*/
  /*height:5%;*/
  /*float:right;  ._______. */
}

nav
{
  background-color:#C0C0C0;
  /*margin:0; unneccessary */
  padding:2.5%;
  position:fixed;
  top:0;
  left:0;
  /*position:fixed; seriously? */
  width:100%;
  height: auto;
  /*right: 0; unneccessary */
}

#navsocial {
  float: right;
  height: 40px; /* please dont use percent because its fucked up on larger screens */
  display: inline-block;
  margin-right: 5%; /* dunno why but it works */
}
#navsocial a {
  margin: 0;
}
#navsocial a img {
  height: 40px;
  margin: 0;
}

.box
{
  color:whitesmoke;
  /*font-family:Roboto, sans-serif; this will be inherited from body {} */
  font-size:15px;
  height:10%;
  background-color:gray;
  position:absolute;
  padding:2.5%;
  width:30%;
  transition: all .3s cubic-bezier(.2,.3,0,1);
}

.box:hover
{
  background-color:#c0c0c0;
  /*transition:.7s; Seriously Zyluss? That's way too long. And it also looks awkward */
}

#box1
{
  top:25%;
  margin-left:8%;
}

#box2
{
  top:25%;
  right:8%;
}

#box3
{
  top:60%;
  margin-left:8%;
}

#box4
{
  top:60%;
  right:8%;
}


#footer
{
  background-color:#000;
  margin:0;
  margin-top:100%;
  width:100%;
  padding-top:1%;
  padding-bottom:1%;
  color:white;
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  font-size:15px;
  letter-spacing:.4px;
  word-spacing:2px;
  text-align:center;
}