
::-webkit-scrollbar {
    width: 12px;
}
 

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px ; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff; 
    -webkit-box-shadow: inset 0 0 6px #fff; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #fff; 
}
